
@import "_variables";
@import "_home";
@import "_slider";
@import "_about";
@import "_donate";
@import "_newsletter";
@import "_volunteer";
@import "_success";
* {
  font-family: "candara header";
}
.navbar-nav {
    margin-right: 10%;
}
.navbar-brand {
    margin-left: 10%;
}
